:host {
  display: block;

  .mat-grid-tile {
    border: 1px solid #9E9E9E;
    box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.25);

    .grid-tile-body {
      padding: 10px;
      background-position: top left;
      background-size: cover;
      height: 100%;
      width: 100%;
      background-repeat: no-repeat;
    }


    mat-grid-tile-header {
      background: rgba(0,0,0,.5);
      .open-dialog-icon {
        font-size: 24px;
        cursor: pointer;
        transform: rotate(-45deg);
      }
    }

    mat-grid-tile-footer {
      background: inherit;
      overflow-x: scroll;
      ::ng-deep .mat-chip-list-wrapper {
        width: 100%;
        flex-wrap: inherit;
      }
    }
  }
}